<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cupcakes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container justify-content-center p-3">
      <div class="container">
        <h1 class="">Welcome To Capcake Manager</h1>
      </div>
      <div class="container">
        <div class="">
          <button id="show_cupcakes" class="btn btn-outline-success">
            Show Cupcakes
          </button>
          <ul class="cupcakes list-group list-group-flush p-3"></ul>
        </div>

        <div class="container bg-warning-subtle">

            <form action="" method="post">
                </div>
                <div class="mb-3">
                    <label for="flavor" class="form-label">Flavor</label>
                    <input type="text" class="form-control" id="flavor" />
                </div>
                <div class="mb-3">
                    <label for="size" class="form-label">Size</label>
                    <input type="text" class="form-control" id="size" />
                </div>
                <div class="mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="text" class="form-control" id="rating" />
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Image URL</label>
                    <input type="text" class="form-control" id="image" />
                </div>

                <button id ="create_cake_btn" type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/static/script.js"></script>
  </body>
</html>
